body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-print-color-adjust: exact;
}

aside {
  padding: 2rem;
  flex: 1;
  color: white;
  background: rgb(76, 76, 76);
  max-width: 20rem;
}

address {
  margin: 1rem 0 2rem 0;
}

li {
  margin: 0.75rem;
}

p {
  margin: 0.5rem 0;
  line-height: 1.3rem;
}

h3 {
  margin: 2rem 0 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 600;
}

article {
  page-break-inside: avoid;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.section-icon {
  height: 1.3rem;
  margin-left: 0.75rem;
}

#achievements {
  page-break-inside: avoid;
}

#name {
  color: rgb(35, 149, 150);
}

#trophy {
  height: 1rem;
}

aside > section > ul {
  margin: 0;
  padding: 0;
}

aside > section > ul > li {
  list-style: none;
  margin: 0.75rem 0;
}

aside > section {
  margin: 3rem 0;
}

.main {
  box-shadow: -2px 0px 4px 2px rgba(0, 0, 0, 0.38);
  flex: 1;
  padding: 2rem 2rem 2rem 3rem;
  max-width: 40rem;
}

.tel {
  font-style: normal;
  margin: 0.25rem 0;
}

.email {
  font-style: normal;
  color: rgb(19, 105, 106);
}

.section-title {
  display: flex;
  align-items: center;
  color: white;
  padding: 1rem 1.5rem 1rem 3rem;
  background-color: rgb(35, 149, 150);
}

.date {
  color: rgb(128, 128, 128);
}

.title {
  font-weight: bold;
}

.section-title-container {
  position: relative;
  left: -4rem;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-top: 3rem;
  width: 16rem;
}

.triangle {
  fill: #14686a;
}

.hero-title {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
}

.hero-title::after {
  content: ' }';
  color: rgb(35, 149, 150);
}

.hero-title::before {
  content: '{ ';
  color: rgb(35, 149, 150);
}

.cv {
  border: 1px solid rgba(101, 101, 101, 0.38);
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.38);
  justify-content: center;
  display: flex;
  max-width: 60rem;
}

.achievements > p {
  margin: 1.25rem 0;
}

#download-btn {
  display: flex;
  align-items: center;
  background-color: rgb(35, 149, 150);
  border-radius: 2rem;
  padding: 1rem 2rem;
  color: white;
  position: fixed;
  border: 0;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  outline: none;
  text-decoration: none;
}

#download-img {
  height: 1.2rem;
  margin-right: 0.75rem;
}

#original-cv-container {
  visibility: collapse;
  text-align: right;
  color: rgb(128, 128, 128);
  padding-top: 3rem;
}

a {
  color: #009897;
}

a:hover {
  color: #008685;
}

@page {
  margin: 0;
  size: auto;
}

@media print {
  .cv {
    border: none;
    box-shadow: none;
    max-width: none;
  }

  #download-btn {
    visibility: collapse;
  }

  .main {
    box-shadow: none;
    max-width: none;
    flex: 2;
  }

  aside {
    max-width: none;
  }

  article {
    padding-top: 1rem;
  }

  #original-cv-container {
    visibility: visible;
  }
}

@media not print {
  @media (max-width: 768px) {
    body {
      display: block;
    }

    aside {
      max-width: none;
    }

    .cv {
      display: block;
      box-shadow: none;
      border: none;
    }

    .main {
      box-shadow: none;
    }
  }
}
